
.like {
    width: 30px;
    height: 30px;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.parsed-info {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.empty {
    opacity: 0;
}
.revealcomments {
    font-weight: bold;
}

.active {
    background-color: lightgrey;
}

.expand {
    height: 0px;
}

.comment {
    border: 1px solid black;
    margin-left: 40px;
}

.linked-pic-box {
    height: 300px;
}

.linked-pic {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.header {
    border: 2px solid black;
}

.link-logo {
    height: 75px;
    width: 75px;
}

.profile-box {
    background-color: darkseagreen;
    border-radius: 15px;
    margin-left: 10px;
    min-width: 400px;
}

.save-button {
    margin-top: 10px;
}

.profile-title {
    margin-left: 10px;
}


.comment {

}

.item {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-style: inset;
    height: 135px;
    overflow-y: auto;
}

.item:hover {
    background-color: gainsboro;
    border-style: groove;
    cursor: pointer;
}

.news-thumb {
    margin-top: 30px;
}

.star {
    margin-top: 5px;
}

.bookmarked {
    background-color: yellow;
}

.liked {
    background-color: yellow;
}

#comments-box {
    max-height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
}

.child1 {
    margin-left: 50px;
    background-color: whitesmoke;
    transition-property: opacity;
    transition-duration: 1s;
    height: 100%;
    opacity: 1;
}

.child2 {
    margin-left: 60px;
    background-color: lavenderblush;
    transition-property: opacity;
    transition-duration: 1s;
    height: 100%;
    opacity: 1;
}

.child3 {
    margin-left: 70px;
    background-color: lightgoldenrodyellow;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 1;
}

.inline-commentBox {
    margin-top: 5px;
    margin-bottom: 60px;
}

@media (max-width: 992px) {
    .comments {
        position: fixed;
        height: 45%;
        overflow-x: auto;
    }

    .item {
        width: 100%;
    }

    p {
        font-size: xx-small;
    }

    .links {
        position: fixed;
        top: 50%;
        height: 45%;
        overflow-x: auto;
    }
}
