<div ng-cloak class="container-fluid">
    <div class="col-xs-7">
        <div ng-repeat="link in links track by $index">
            <div class="row media item" ng-click="showComments(link)" ng-class="{active : linkIsSelected(link)}">
                <div class="media-left media-middle">
                    <a target="_blank" href="{{link.url}}"><img class="link-logo media-object" src="{{link.thumbnail}}"></a>
                    </div>
                <div class="media-body">
                    <div class="col-xs-10 text-center"><h4>{{link.headline}}</h4></div>
                    <div class="row">
                        <div class="col-xs-11 pull-left">{{link.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5 pull-right comments">
        <a target="_blank" href="{{linkSelected.url}}"><div class="linked-pic-box"><img src="{{linkSelected.image}}" class="col-xs-12 linked-pic"></div></a>
        <div class="row">
            <div class="col-xs-11">Submitted By: {{linkSelected.username}} on {{linkSelected.created}}</div>
        </div>
        <div class="row">
            <p>{{linkSelected.upvote_count}}</p>
            <img src="images/like.png" class="like"></img>
            <button ng-show="!linkSelected.upvoted" ng-click="upvote()" ng-clsas="btn btn-default">Upvote now!</button>
            <p ng-show="linkSelected.upvoted">Thanks for upvoting this!</p>
        </div>
        <form class="form-inline">
          <div class="form-group">
            <label for="commenttext">Leave a Comment:</label>
            <textarea class="form-control" id="commenttext" ng-model="commenttext"></textarea>
          </div>
          <button type="submit" class="btn btn-default" ng-click="submitComment()">Submit</button>
        </form>
        <div class="row" ng-if="comments.header">
            <div class="col-xs-112 header">{{comments.header.username}}: {{comments.header.comment}}</div>
        </div>
        <div ng-repeat="comment in comments track by $index">
            <div class="row" ng-click="expand(comment)">
                <div class="col-xs-10 comment" ng-class="{active : commentIsSelected(comment)}"><a ui-sref="profile/{{comment.username}}">{{comment.username}}</a>: {{comment.comment}}</div><div class="col-xs-2">{{comment.replies}} replies</div>
            </div>
            <div id="{{comment.id}}" class="empty">
                <div ng-repeat="childComment in comments.childcomments track by $index">
                    <div ng-if="childComment.parent_id == comment.id" class="row" ng-click="replace(comment)">
                        <div class="col-xs-12" id="{{comment.id}}">
                                <div class="col-xs-10 comment"><a ui-sref="profile/{{comment.username}}">{{childComment.username}}</a>: {{childComment.comment}}</div><div class="col-xs-2">{{childComment.replies}} replies</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<scripts src="homes.js"></scripts>
